<div class="col-8 offset-2">
  <h2 id="title">Update Your Favorite Food</h2>
    <%= simple_form_for @food do |f| %>
    <%= f.input :name %>
    <%= f.input :ethnicity %>
    <br />
    <%= f.submit "Update", class: 'btn btn-primary' %>
  <% end %>
</div>