<div class="fancy-box col-8 offset-2">
  <h2>New Place</h2>

  <%= simple_form_for @place do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      
    <div class="form-actions">
      <%= f.button :submit, "Create", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>