<div class="col-8 offset-2">
  <span class="place">
    <i id="icon-delete" class="fa fa-trash-o edit" aria-hidden="true"></i>
    <i id="icon-edit" class="fa fa-pencil edit" aria-hidden="true"></i>
    &nbsp;<b><%= @place.name %>:</b>
    &nbsp;&nbsp;<%= @place.description %>
  </span>
</div>